.navbar-nav .nav-item .btn.btn-outline-primary {
  border: 1px solid;
}
.navbar-nav .nav-item .btn {
  margin-left: 20px;
}

div.content-container  {
  padding-top: 200px;
}
.navbar {
  padding-left: 100px;
  padding-right: 100px;
}
